.light {
	--background: #fcfcfc;
	--background-transparent: rgb(252 252 252 / 0.6);
	--foreground: #313e38;
	--hover: #000;
	--card: #ffffff;
	--card-foreground: #313e38;
	--popover: #ffffff;
	--popover-foreground: #313e38;
	--primary: #00b262;
	--primary-hover: #00d374;
	--primary-foreground: #effffa;
	--secondary: #d2e0ea;
	--secondary-hover: #d6e2ec;
	--secondary-foreground: #12161f;
	--muted: #d3e0ea;
	--muted-foreground: #5c6375;
	--accent: #d3e0ea;
	--accent-foreground: #313e38;
	--destructive: #f1113e;
	--destructive-hover: #cf0c33;
	--border: #e5ecf1;
	--input: #c3d0da;
	--ring: #00b262;
	--chart-1: #00b262;
	--chart-2: #4d5f9c;
	--chart-3: #14bac4;
	--chart-4: #ccc072;
	--chart-5: #8f68cb;
	--sidebar: #f3faff;
	--sidebar-foreground: #313e38;
	--sidebar-primary: #00b262;
	--sidebar-primary-foreground: #f3faff;
	--sidebar-accent: #d3e0ea;
	--sidebar-accent-foreground: #313e38;
	--sidebar-border: #c3d0da;
	--sidebar-ring: #00b262;
	--button-background: #d3e0ea;
	--button-foreground: #313e38;
	--button-background-hover: #bbcfde;
}

.dark {
	--background: #080810;
	--background-transparent: rgb(8 8 16 / 0.3);
	--foreground: #e9f0f5;
	--hover: #fff;
	--card: #12161f;
	--card-foreground: #e9f0f5;
	--popover: #12161f;
	--popover-foreground: #e9f0f5;
	--primary: #00b262;
	--primary-hover: #00d374;
	--primary-foreground: #080b14;
	--secondary: #282d3d;
	--secondary-hover: #353c51;
	--secondary-foreground: #e9f0f5;
	--muted: #282d3d;
	--muted-foreground: #798093;
	--accent: #282d3d;
	--accent-foreground: #e9f0f5;
	--destructive: #f1113e;
	--destructive-hover: #cf0c33;
	--border: #e9f0f526;
	--input: #e9f0f533;
	--ring: #00b262;
	--chart-1: #00b262;
	--chart-2: #697dbc;
	--chart-3: #14bac4;
	--chart-4: #ccc072;
	--chart-5: #8f68cb;
	--sidebar: #12161f;
	--sidebar-foreground: #e9f0f5;
	--sidebar-primary: #00b262;
	--sidebar-primary-foreground: #080b14;
	--sidebar-accent: #282d3d;
	--sidebar-accent-foreground: #e9f0f5;
	--sidebar-border: #e9f0f526;
	--sidebar-ring: #00b262;
	--button-background: #282d3d;
	--button-foreground: #e9f0f5;
	--button-background-hover: #353c51;
}
