:root {
	--background: #fcfcfc;
	--background-transparent: rgba(252, 252, 252, 0.6);
	--foreground: #313e38;
	--hover: #000;
	--card: #ffffff;
	--card-foreground: #313e38;
	--popover: #ffffff;
	--popover-foreground: #313e38;
	--primary: #00b262;
	--primary-foreground: #effffa;
	--secondary: #d2e0ea;
	--secondary-foreground: #12161f;
	--muted: #d3e0ea;
	--muted-foreground: #5c6375;
	--accent: #d3e0ea;
	--accent-foreground: #313e38;
	--destructive: #f1113e;
	--border: #e5ecf1;
	--input: #c3d0da;
	--ring: #00b262;
	--chart-1: #00b262;
	--chart-2: #4d5f9c;
	--chart-3: #14bac4;
	--chart-4: #ccc072;
	--chart-5: #8f68cb;
	--sidebar: #f3faff;
	--sidebar-foreground: #313e38;
	--sidebar-primary: #00b262;
	--sidebar-primary-foreground: #f3faff;
	--sidebar-accent: #d3e0ea;
	--sidebar-accent-foreground: #313e38;
	--sidebar-border: #c3d0da;
	--sidebar-ring: #00b262;

	--backdrop-filter: blur(4px);

	--font-sans: Lato, sans-serif;
	--font-serif: Merriweather, Geist, Geist Fallback, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Roboto Mono, Geist Mono, Geist Mono Fallback, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;

	--radius: 0.5rem;

	--shadow-2xs: 0px 1px 3px 0px #1f4333;
	--shadow-xs: 0px 1px 3px 0px #1f4333;
	--shadow-sm: 0px 1px 3px 0px #1f4333, 0px 1px 2px -1px #1f4333;
	--shadow: 0px 1px 3px 0px #1f4333, 0px 1px 2px -1px #1f4333;
	--shadow-md: 0px 1px 3px 0px #1f4333, 0px 2px 4px -1px #1f4333;
	--shadow-lg: 0px 1px 3px 0px #1f4333, 0px 4px 6px -1px #1f4333;
	--shadow-xl: 0px 1px 3px 0px #1f4333, 0px 8px 10px -1px #1f4333;
	--shadow-2xl: 0px 1px 3px 0px #1f4333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #080810;
		--background-transparent: rgba(8, 8, 16, 0.3);
		--foreground: #e9f0f5;
		--hover: #fff;
		--card: #12161f;
		--card-foreground: #e9f0f5;
		--popover: #12161f;
		--popover-foreground: #e9f0f5;
		--primary: #00b262;
		--primary-foreground: #080b14;
		--secondary: #282d3d;
		--secondary-foreground: #e9f0f5;
		--muted: #282d3d;
		--muted-foreground: #798093;
		--accent: #282d3d;
		--accent-foreground: #e9f0f5;
		--destructive: #ff1648;
		--border: #e9f0f526;
		--input: #e9f0f533;
		--ring: #00b262;
		--chart-1: #00b262;
		--chart-2: #697dbc;
		--chart-3: #14bac4;
		--chart-4: #ccc072;
		--chart-5: #8f68cb;
		--sidebar: #12161f;
		--sidebar-foreground: #e9f0f5;
		--sidebar-primary: #00b262;
		--sidebar-primary-foreground: #080b14;
		--sidebar-accent: #282d3d;
		--sidebar-accent-foreground: #e9f0f5;
		--sidebar-border: #e9f0f526;
		--sidebar-ring: #00b262;

		--shadow-2xs: 0px 1px 2px 0px #000000;
		--shadow-xs: 0px 1px 2px 0px #000000;
		--shadow-sm: 0px 1px 2px 0px #000000, 0px 1px 2px -1px #000000;
		--shadow: 0px 1px 2px 0px #000000, 0px 1px 2px -1px #000000;
		--shadow-md: 0px 1px 2px 0px #000000, 0px 2px 4px -1px #000000;
		--shadow-lg: 0px 1px 2px 0px #000000, 0px 4px 6px -1px #000000;
		--shadow-xl: 0px 1px 2px 0px #000000, 0px 8px 10px -1px #000000;
		--shadow-2xl: 0px 1px 2px 0px #000000;
	}
}
