.PostCard {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: var(--card);
	border: 1px solid var(--border);
	border-radius: var(--radius);
	padding: 1rem;
	box-shadow: var(--shadow-sm);
}

.postTitle {
	color: var(--chart-2);
}

.commentsBtn {
	width: fit-content;
	display: flex;
	gap: 0.25rem;
	svg {
		color: var(--card-foreground);
	}
}
