.tabs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.tab {
	padding: 0.5rem 16px;
	text-decoration: none;
	color: var(--card-foreground);
	border-radius: var(--radius);
	text-align: center;

	&:hover {
		background-color: var(--accent);
		transition: background-color var(--transition);
	}
}

.active {
	background-color: var(--chart-2);
	color: var(--primary);

	&:hover {
		background-color: var(--chart-5);
	}
}
