.tabs {
	display: flex;
	gap: 1rem;
	width: 100%;
	justify-content: center;
	background-color: var(--accent);
}

.tab {
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: var(--card-foreground);
	border-radius: var(--radius);
	text-align: center;

	&:hover {
		transition: background-color var(--transition);
	}
}

.active,
.active:hover {
	background-color: var(--primary);
	color: var(--primary-foreground);
}
